*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  
}


#header ul > li {
  display: inline-block;
}

#header a {
  color: inherit;
}

li a:hover {
  background-color: #111;
}


h1 {
    background-color: rgb(238, 231, 231);
  }

  div {
    background-color: rgb(205, 211, 207);
    width: 100%; height: 10%;
    border: 0px solid green;
    padding: 0px;
    margin: 0px;
  }

  li {
    display: block;
  }

  img{
    position: relative;
    left: 0px;
    top: 0px;
    
  }

  