body{
    background-color: rgb(255, 255, 255);
color: black;
font-size: 1.1em;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  


  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

  
#des{
   
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #dfdddd;

}

#para{

  margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px solid #adcee9;
    background-color: #acb8d8;
    color: rgb(0, 0, 0);

}

#list  {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);

}




#head {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #dfdddd;
}









